<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AppToken" value="f12458d120e6d32cf89ee714d35c723d8caa1273c3bcdf1ba79c63df7329254a"/>
  </appSettings>
  <system.serviceModel>
        <bindings>
              <netTcpBinding>
                    <binding name="serviceLogin">
                          <security mode="None">
                                <transport sslProtocols="None" />
                          </security>
                    </binding>
                    <binding name="serviceDecrypt">
                          <security mode="None">
                                <transport sslProtocols="None" />
                          </security>
                    </binding>
              </netTcpBinding>
        </bindings>
        <client>
              <endpoint address="net.tcp://decryptor.westeurope.cloudapp.azure.com:5050/Login.svc/Auth"
                    binding="netTcpBinding" bindingConfiguration="serviceLogin"
                    contract="ServiceReference1.IAuthService" name="serviceLogin">
                    <identity>
                          <dns value="&#xD;&#xA;          " />
                    </identity>
              </endpoint>
              <endpoint address="net.tcp://decryptor.westeurope.cloudapp.azure.com:5050/Decryptor.svc/Decrypt"
                    binding="netTcpBinding" bindingConfiguration="serviceDecrypt"
                    contract="ServiceReference2.IDecrypt" name="serviceDecrypt">
                    <identity>
                          <dns value="&#xD;&#xA;          " />
                    </identity>
              </endpoint>
        </client>
    </system.serviceModel>
</configuration>